@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div id = "chart"></div>
    <button class="btn btn-default" id="runBtn">Run</button>
</div>

@section Scripts {
    <script src="~/dist/app.js"></script>
}


